# mongod2.conf
systemLog:
  destination: file
  path: /var/log/mongodb/mongod2.log
  logAppend: true
storage:
  dbPath: /data/db2
net:
  port: 27101
  bindIp: 0.0.0.0
replication:
  replSetName: ${REPLICA_SET_NAME}
sharding:
  clusterRole: shardsvr
security:
  keyFile: /data/keyfile
  authorization: enabled
